.navbar.fixed-top.navbar-dark.bg-dark
  %a.navbar-brand{:href => root_path}
    %img=image_tag("logo.png", size: '80x30', alt: "nav logo")
  %ul.navbar-nav.mr-auto
    %li.nav-item.dropdown
      %a#navbarDropdown.nav-link.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Комплектующие ПК
      .dropdown-menu.bg-dark
        %a.dropdown-item.bg-dark.text-light{:href => "/motherboards"} Материнские платы
        %a.dropdown-item.bg-dark.text-light{:href => "/cpus"} Процессоры
        %a.dropdown-item.bg-dark.text-light{:href => "/video_cards"} Видеокарты
        %a.dropdown-item.bg-dark.text-light{:href => "/rams"} ОЗУ
        %a.dropdown-item.bg-dark.text-light{:href => "/hdds"} Жесткие диски
        %a.dropdown-item.bg-dark.text-light{:href => "/ssds"} SSD
        %a.dropdown-item.bg-dark.text-light{:href => "/power_supplies"} Блоки питания
